mat-form-field {
    display: block;
}

form {
    height: 400px;
    position: relative;
    top: 40px;
    box-shadow: 0 0 25px;
    padding: 30px;
    border-radius: 10px;
}
.acc_c{
    font-size: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    color:#f16e00;
}
.container{
    text-align: center;
    display: block;
}
.acc_cp{
 display: block;
 text-align: center;
}
mat-sidenav-container {
    height: 100%;
}

#submit {
    background-color: #f16e00;
    color: white;
}

form {
    opacity: 1;
}

#menu-btn {
    position: fixed;
}

