<mat-toolbar color="warn" id="navbar" class="sticky-top">
    <mat-toolbar-row>
        <a routerLink="/accueil">
            <mat-icon class="example-icon">home</mat-icon>
            <span class="align">VPN à la demande</span>
        </a>

        <a routerLink="/dashboard">
            <mat-icon class="example-icon">dashboard</mat-icon>
            <span class="align">Dashboard</span>
        </a>

        <a routerLink="/nouvelle-demande">
            <mat-icon class="example-icon">post_add</mat-icon>
            <span class="align">Nouvelle demande</span>
        </a>

        <span class="example-spacer"></span>

        <a routerLink="/profil">
            <mat-icon class="example-icon">user</mat-icon>
            <span class="align">Mon profil</span>
        </a>
        <a routerLink="/deconnexion">
            <mat-icon class="example-icon">logout</mat-icon>
        </a>
    </mat-toolbar-row>
</mat-toolbar>