<div id="app-demande">
    <app-navbar></app-navbar>
    <mat-sidenav-container id="demandeForm">

        <mat-sidenav mode="side" [(opened)]="opened">
            <mat-form-field appearance="fill">
                <mat-label>ID</mat-label>
                <input #idDemande name="demandeID" matInput>
            </mat-form-field>
            <button (click)="getDemandeWithId(idDemande.value)" mat-fab>GET demande with ID</button>
            <br>
            <pre>
                    {{ demande | json }}
                </pre>sticky
        </mat-sidenav>

        <mat-sidenav-content>
            <button mat-icon-button id="menu-btn" (click)="opened=!opened">
                <mat-icon>menu</mat-icon>
            </button>

            <div class="container col-sm-12 col-md-6">
                <form method="POST">

                    <mat-form-field appearance="fill">
                        <mat-label>Objet</mat-label>
                        <input [(ngModel)]="demande.objet" name="objet" matInput>
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label>Bénéficiaire</mat-label>
                        <mat-select [(value)]="demande.beneficiaire">
                            <mat-option *ngFor="let user of users" [value]="user.id">
                                {{user.username}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>



                    <mat-form-field appearance="fill">
                        <mat-label>Date d'expiration</mat-label>
                        <input [(ngModel)]="demande.date_expiration" name="date_expiration" matInput
                            [matDatepicker]="picker1">
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label>Application</mat-label>
                        <mat-select [(value)]="demande.applications" multiple>
                            <mat-option *ngFor="let application of applications" [value]="application.id">
                                {{ application.nom }} ({{ application.adresse_ip }})
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label>Procotoles</mat-label>
                        <mat-select [(value)]="demande.protocoles" multiple>
                            <mat-option *ngFor="let protocole of protocoles" [value]="protocole.id">
                                {{protocole.nom}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label>Description</mat-label>
                        <textarea [(ngModel)]="demande.description" name="description" rows="12" matInput></textarea>
                    </mat-form-field>

                    <button mat-raised-button name="submit" (click)="onSubmit()" class="btn btn-lg btn-block"
                        id="submit" type="submit">Envoyer demande <mat-icon>send</mat-icon></button>
                </form>
            </div>

        </mat-sidenav-content>
    </mat-sidenav-container>
</div>