mat-form-field {
    display: block;
}

form {
    height: 800px;
    margin-top: 40px;
    box-shadow: 0 0 25px;
    padding: 30px;
    border-radius: 10px;
}

mat-sidenav-container {
    height: 100%;
}

#submit {
    background-color: #f16e00;
    color: white;
}

form {
    opacity: 1;
}

#menu-btn {
    position: fixed;
}

