<app-navbar></app-navbar>

<mat-tab-group color="warn">
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon color="warn" class="example-tab-icon">question_answer</mat-icon>
            Ma demande
        </ng-template>

        <app-demande-form-detail></app-demande-form-detail>

    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon color="warn" class="example-tab-icon">autorenew</mat-icon>
            Etat d'avancement
        </ng-template>
        Content 2
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon color="warn" class="example-tab-icon">edit</mat-icon>
            Modifier demande
        </ng-template>

        Content 3
    </mat-tab>
</mat-tab-group>